/* * {
  box-sizing: border-box;
} */
:root {
  --jeans: #737373;
  --ground-hue: 190;
  --belt: #000;
  --fur-dark: #73370d;
  --fur: #8a420f;
  --fur-light: #b8672e;
  --muzzle: #e6b999;
  --tank: #d9d9d9;
  --nose: #0d0d0d;
  --bandana: #f20d0d;
  --keyboard-body: #404040;
  --keyboard-key: #8c8c8c;
  --keyboard-accent: #7359a6;
  --bg: hsl(var(--ground-hue), 60%, 95%);
}
/* body {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: var(--bg);
}
svg {
  width: 60vmin;
} */
.ground {
  --alpha: 0.5;
  fill: hsla(var(--ground-hue), 60%, 60%, var(--alpha, 1));
}
.bear__jeans {
  fill: var(--jeans);
}
.bear__belt {
  fill: var(--belt);
}
.bear__muzzle {
  fill: var(--muzzle);
}
.bear__shoulder--left {
  fill: var(--fur-dark);
}
.bear__tank {
  fill: var(--tank);
}
.bear__nose {
  fill: var(--nose);
}
.bear__bandana {
  fill: var(--bandana);
}
.bear__fur,
.bear__paw {
  fill: var(--fur);
}
.bear__fur--light,
.bear__paw--light {
  fill: var(--fur-light);
}
.keyboard__body {
  fill: var(--keyboard-body);
}
.keyboard__key {
  fill: var(--keyboard-key);
}
.keyboard__key--accented {
  fill: var(--keyboard-accent);
}
.code-block {
  fill: hsl(var(--hue), 100%, 50%);
}
/* label {
  height: 44px;
  width: 44px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
label > svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
label path {
  fill: hsl(var(--ground-hue), 60%, 60%);
}
label svg:nth-of-type(1) {
  display: none;
} */
[type="checkbox"] {
  height: 0;
  width: 0;
}
:checked ~ label svg:nth-of-type(1) {
  display: block;
}
:checked ~ label svg:nth-of-type(2) {
  display: none;
}
.react-style-1 {
  stroke: none;
  stroke-width: 15.875;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-2 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 14.61518764;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-3 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 21.45877838;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-4 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-5 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 4.10835218;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-6 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 4.21629286;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-7 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 3.28125;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-8 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 4.12773705;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-9 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 15.93559551;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-10 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 20.28494453;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-11 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 2.94184494;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-12 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 3.28125;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-13 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 17.24043465;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-14 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 15.59976292;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-15 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-16 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-17 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-18 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-19 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-20 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-21 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-22 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-23 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-24 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-25 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-26 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-27 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-28 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-29 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 19.56653404;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-30 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-31 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-32 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-33 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-34 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-35 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-36 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-37 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-38 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-39 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-40 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-41 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-42 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-43 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-44 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-45 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-46 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-47 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-48 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-49 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-50 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-51 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-52 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-53 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-54 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-55 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-56 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-57 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-58 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-59 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-60 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-61 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-62 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-63 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-64 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-65 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-66 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-67 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 12.99630928;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-68 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 17.53100395;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-69 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 18.89763832;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-70 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-71 {
  opacity: 1;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.react-style-72 {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: condensed;
  font-size: 12.28657341px;
  line-height: 1.25;
  font-family: Impact;
  -inkscape-font-specification: "Impact, Condensed";
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-feature-settings: normal;
  text-align: start;
  letter-spacing: 0px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  text-anchor: start;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.30716431;
}
.react-style-73 {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: condensed;
  font-size: 12.28657341px;
  font-family: Impact;
  -inkscape-font-specification: "Impact, Condensed";
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-feature-settings: normal;
  text-align: start;
  writing-mode: lr-tb;
  text-anchor: start;
  stroke-width: 0.30716431;
}
